<div class="headerContainer">
    <img
      *ngIf="!this.messageService.headerChatMobile"
      class="logoImg"
      src="./assets/img/logo.svg"
      alt=""
    />
    <div
      ngClass="backArrowDiv"
      *ngIf="this.messageService.headerChatMobile && screenWidth <= 630"
      class="headerChatMobile"
      (click)="navigateToSidenavMobile(); threadService.closeThreadService()"
    >
      <img
        class="backArrow"
        src="./assets/img/icons/arrow_back_responsive.svg"
        alt=""
      />
      <img class="logoImg" src="./assets/img/codelearning.svg" alt="" />
    </div>
  
    <app-searchbar *ngIf="screenWidth > 630"></app-searchbar>
  
    <div
      class="headerProfileContent"
      (click)="toggleMenu(); $event.stopPropagation()"
    >
      <div class="userName" *ngIf="user">{{ user.displayName }}</div>
      <div class="userIconWrapper">
        <img
          class="userImg"
          [src]="user?.photoURL"
          (error)="retryLoadImage(user)"
        />
        <img
          *ngIf="user?.isOnline"
          class="statusIcon"
          src="assets/img/icons/user_online.svg"
          alt="Online"
        />
        <img
          *ngIf="!user?.isOnline"
          class="statusIcon"
          src="assets/img/icons/user_offline.svg"
          alt="Offline"
        />
      </div>
      <div class="arrowDown"></div>
      <div class="dropdownMenu" *ngIf="showMenu">
        <a (click)="openDialog()">Profile</a>
        <a (click)="onLogout(); $event.stopPropagation()">Logout</a>
      </div>
    </div>
  </div>
  
  <div
    class="menuBackground"
    (click)="showMenu = false"
    [style.display]="showMenu ? 'block' : 'none'"
  ></div>